html {
    font-size: 10px;
}

img.people-image {
    max-width: 10rem;
}

table.contact-table td {
    padding: 3rem;
    font-size: 1.4rem;
}

table.contact-table tr {
    border-bottom: 1px solid #eee;
}

table.contact-table .top-tr {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
}

table.contact-table .top-tr td {
    padding-right: 2rem;
}

table.contact-table td span {

    padding-left: 5px;
}

table.contact-table .btn {
    display: inline-block;
    font-size: 1.2rem;

}

form input.ng-dirty.ng-invalid {
    border: solid 1px #FF0000;
}

h1 {
    font-size: 4rem;
}

.people-name {
    font-size: 3rem;
    display: inline-block;
}

#form-edit-contact .form-control-static button.edit {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin-top: 0.7rem;
    height: 3.4rem;
}

#form-edit-contact .button-decision {
    display: inline-block;
    margin-top: 1rem;
}

#form-edit-contact .form-group label {
    padding-top: 0.5rem;

}

.form-horizontal .form-group {
    margin-bottom: 3rem;
}

.form-horizontal label {
    height: 34px;
    line-height: 34px;
    margin-bottom: 0;
}

/* RWD */
@media only screen and (max-width: 1200px) {

    table.contact-table .btn {
        width: 100%;
    }

    table.contact-table .btn-danger {
        margin-top: 2rem;
    }

    table.contact-table td span {
        padding-left: 0;
    }

    table.contact-table td {
        padding: 2rem;
    }

    table.contact-table .top-tr {
        font-size: 1.2rem;
    }

    .search-contact {
        margin-left: 2rem;
    }

}

@media only screen and (max-width: 992px) {

    table.contact-table td .btn {
        display: block;
        margin-bottom: 1rem;
    }

    /*new people */
    #registerpeople .btn {
        width: 100%;
    }

    #registerpeople .button-image {
        margin-top: 4.25rem;
    }

    /*******************/
}

@media only screen and (max-width: 768px) {
    .search-contact {
        margin-left: 0;
    }

    table.contact-table, table.contact-table .btn {
        width: 100%;
    }

    table.contact-table td.adres-hide {
        display: none;
    }

    table.contact-table td {

        padding: 0.8rem;
    }

    .page-header {
        text-align: center;
    }

    table.contact-table tr td:first-child {
        display: none;
    }
}

@media only screen and (max-width: 480px) {
    table.contact-table td {
        padding: 2rem 0 2rem 0;
    }

    html {
        font-size: 8px;
    }

    img.people-image {
        max-width: 6rem;
    }

    #form-edit-contact .form-control-static button.edit {
        height: 4.4rem;
    }

    h1 {
        margin-bottom: 5rem;
    }

    table.contact-tabletr:not(:nth-child(1)) td {
        font-size: 1.5rem;
    }
}

/* map legend */

.legend {
    margin: 2% 0;

}

.square {
    padding: 5px;
    color: white;
    margin-right: 1%;
}

.green {
    background-color: #5bb75b;
}

.blue {
    background-color: #006dcc;
}

.violet {
    background-color: #8A2BE2;
}

.red {
    background-color: #FF6347;
}

/* datepicker */

.date-picker table td {

}

#map {

    height: 300px !important;

}

/*mapa */

.map-list {
    list-style: none;
}

.map-list li {
    margin-bottom: 1%;
}

/* small contact list */
ul.small-contacts li img {
    max-width: 5rem;
}

.contact-col {
    border-right: 1px solid #f0f0f2;

}

ul.small-contacts li {
    position: relative;
    font-size: 12px;
    margin-bottom: 15%;
}

.contact-details {
    display: none;
    position: absolute;
    margin-left: 150px;
    top: -50%;
    width: 300px;
    background: #f8f8f8;
    z-index: 10000;
}

.first-cell, .second-cell {
    display: table-cell;
}

.second-cell {
    vertical-align: middle;
}

ul.small-contacts li .contact-details img {
    max-width: 10rem;
}

ul.small-contacts li a {
    text-decoration: none;
    color: #777;
    width: 100%;
    height: 100%;
    display: block;
}

ul.small-contacts li a:hover + div {
    display: table;
}

.contact-details:hover{
 display:table;
}

.name-desc {
    font-size: 18px;
    text-transform: uppercase;
}