<div id="map"></div>

<div class="row">
    <div class="col-xs-12">
        <div class="legend">Legend:</div>

        <ul class="map-list">
            <li>
                <img alt="" src="http://maps.google.com/mapfiles/ms/icons/blue-dot.png"/>
                Friends
            </li>
            <li>
                <img alt="" src="http://maps.google.com/mapfiles/ms/icons/green-dot.png"/>
                Family
            </li>

            <li>
                <img alt="" src="http://maps.google.com/mapfiles/ms/icons/purple-dot.png"/>
                Colleagues
            </li>

            <li>
                <img alt="" src="http://maps.google.com/mapfiles/ms/icons/red-dot.png"/>
                Others
            </li>
        </ul>
    </div>
</div>