<div id="map"></div>

<div class="row">
    <div class="col-xs-12">
        <div class="legend">{{ 'LEGEND' | translate }}</div>

        <ul class="map-list">
            <li>
                <img alt="" src="http://maps.google.com/mapfiles/ms/icons/blue-dot.png"/>
                {{ 'FRIENDS' | translate }}
            </li>
            <li>
                <img alt="" src="http://maps.google.com/mapfiles/ms/icons/green-dot.png"/>
                {{ 'FAMILY' | translate }}
            </li>

            <li>
                <img alt="" src="http://maps.google.com/mapfiles/ms/icons/purple-dot.png"/>
                {{ 'COLLEGUES' | translate }}            </li>

            <li>
                <img alt="" src="http://maps.google.com/mapfiles/ms/icons/red-dot.png"/>
                {{ 'OTHERS' | translate }}
            </li>
        </ul>
    </div>
</div>