<div class="page-header">
    <h1>{{ 'ADD_CONTACT' | translate }}</h1>
</div>

<div class="alert alert-success" ng-show="submitSuccess">

    {{ 'NEW_CONTACT' | translate }}
</div>

<form name="registerpeople" id="registerpeople" class="form-horizontal" ng-submit="submit()" accept-charset="utf-8">
        <div class="col-sm-6">

            <div class="form-group">
                <label for="name" class="col-md-2">{{ 'NAME' | translate }}:</label>

                <div class="col-md-6">
                    <input type="text" id="name" class="form-control" ng-model="people.name"  required>
                </div>
            </div>


            <div class="form-group">
                <label for="surname" class="col-md-2">{{ 'SURNAME' | translate }}:</label>

                <div class="col-md-6">
                    <input type="text" id="surname" class="form-control"  ng-model="people.surname"  required>
                </div>
            </div>

            <div class="form-group">
                <label for="email" class="col-md-2">{{ 'EMAIL' | translate }}:</label>

                <div class="col-md-6">
                    <input type="email" id="email" class="form-control" ng-model="people.email"  required>
                </div>
            </div>
        </div>
        <div class="col-sm-6">

            <div class="form-group">
                <label for="telephone" class="col-md-2">{{ 'PHONE_NUMBER' | translate }}:</label>

                <div class="col-md-6">
                    <input type="text" id="telephone" class="form-control" ng-model="people.telephone"  required>
                </div>
            </div>


            <div class="form-group">
                <label for="adres" class="col-sm-2">{{ 'ADRES' | translate }}:</label>

                <div class="col-md-6">

                    <!--<input type="textarea" id="adres" class="form-control" ng-model="people.adres"  required>-->
                    <textarea id="adres" class="form-control" ng-model="people.adres"  required/>
                </div>
            </div>
            <div class="form-group">
                <label for="date" class="col-md-2">{{ 'DATE' | translate }}:</label>
                <!--<div class="col-md-6">-->
                    <!--<input type="date" id="date" class="form-control" ng-model="people.date"  name="dupa" required>-->
                <!--</div>-->
                <div class="col-md-6 date-picker">
                    <p class="input-group">
                        <input type="text" id="date" class="form-control" uib-datepicker-popup ng-model="people.date" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
                    </p>
                </div>
            </div>





            <div class="form-group">
                <label for="date" class="col-md-2">{{ 'RANGE' | translate }}:</label>
                <div class="col-md-6">
                    <select class="form-control" ng-change="unitChanged()" ng-model="people.range" required>
                        <option value="">---{{ 'PLEASE_SELECT' | translate }}---</option>
                        <option ng-selected="data.unit == item.id" ng-repeat="item in select" ng-value="item.id">{{item.name}}</option>
                    </select>

                                </div>
            </div>
            <div class="form-group button-image">
                <div class=" col-md-offset-2 col-md-10">
                <div class= "button btn btn-danger" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
                     ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100">{{ 'SELECT_IMAGE' | translate }}</div>
                    <span class="selected-file">{{file.name}}</span>
                <!--<input type="text" id="adres" class="form-control" ng-model="people.adres">-->
            </div>


            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-primary" value="{{ 'ADD_CONTACT' | translate }}" ng-disabled="registerpeople.$invalid">
                </div>
            </div>
            </div>

</form>