<div class="col-xs-12">
    <input type="text" class="search-contact" ng-model="nameFilter" placeholder="{{ 'SEARCH_CONTACT' | translate }}"/>
    <table class="contact-table">
        <tr class="top-tr">
            <td>ID</td>
            <td>Image</td>
            <td ng-click="standardOrder('name')">{{ 'NAME' | translate }}<span class="glyphicon glyphicon-menu-down"></span></td>
            <td ng-click="standardOrder('surname')">{{ 'SURNAME' | translate }}<span class="glyphicon glyphicon-menu-down"></span></td>
            <td>{{ 'PHONE_NUMBER' | translate }}</td>
            <td class="adres-hide">{{ 'ADRES' | translate }}</td>
        </tr>
        <tr ng-repeat="people in bookList | orderBy: orderByData | filter: searchPeople">


            <td>{{$index + 1}}</td>
            <td><img class="people-image" ng-src="../telephone-book/images/{{people.file_name}}"/></td>
            <td>{{(people.name)}}</td>
            <td>{{people.surname}}</td>
            <td>{{people.telephone}}</td>
            <td class="adres-hide">{{people.adres}}</td>
            <td>
                <a href="#/people/{{$index + 1}}" class="btn btn-default btn-sm">{{ 'SHOW' | translate }}</a>
                <button class="btn btn-danger btn-sm" ng-click="delete($index)">{{ 'REMOVE' | translate }}</button>
            </td>
        </tr>


    </table>
</div>