<input type="text" ng-model="nameFilter" placeholder="Search..."/>
<table>
    <tr>
        <td>ID</td>
        <td>Image</td>
        <td ng-click="standardOrder('name')">Name</td>
        <td ng-click="standardOrder('surname')">Surname</td>
        <td>Phone number</td>
        <td>Adres</td>
    </tr>
    <tr ng-repeat="people in bookList | orderBy: orderByData | filter: searchPeople">
        <td>{{$index + 1}}</td>
        <td><img src="img/people/{{people.number}}.png"/></td>
        <td>{{(people.name)}}</td>
        <td>{{people.surname}}</td>
        <td>{{people.telephone}}</td>
        <td>{{people.adres}}</td>
        <td>
            <a href="#/peoples/{{$index}}" class="btn btn-default btn-xs">Wyświetl</a>
            <button class="btn btn-danger btn-xs" ng-click="delete($index)">Usuń</button>
        </td>
    </tr>


</table>