<div class="page-header">
    <h1>Your Contact</h1>


    <img class="people-image" ng-src="../telephone-book/images/{{people.file_name}}"/>
    {{people.name}}
</div>

<form class="form-horizontal">
    <div class="row">
        <div class="col-sm-6">

            <div class="form-group">
                <label for="name" class="col-sm-2">Name:</label>

                <div class="col-sm-6">
                    <p class="form-control-static"  edit-people="people.name">  </p>
                </div>
            </div>


            <div class="form-group">
                <label for="surname" class="col-sm-2">Surname:</label>

                <div class="col-sm-6">
                    <p class="form-control-static" edit-people="people.surname"></p>

                </div>
            </div>

            <div class="form-group">
                <label for="email" class="col-sm-2">Email:</label>

                <div class="col-sm-6">
                    <p class="form-control-static" edit-people="people.email"></p>
                </div>
            </div>



        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="telephone" class="col-sm-2">Telephone:</label>

                <div class="col-sm-6">
                    <p class="form-control-static" edit-people="people.telephone"></p>
                </div>
            </div>


            <div class="form-group">
                <label for="adres" class="col-sm-2">Adres:</label>

                <div class="col-sm-6">
                    <p class="form-control-static" edit-people="people.adres" field-type="textarea"></p>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="submit" class="btn btn-primary" value="Add Contact">
                </div>
            </div>
        </div>
    </div>
</form>