<div class="page-header">
    <h1>Your Contact</h1>


    <img class="people-image" ng-src="../telephone-book/images/{{people.file_name}}"/>
  <div class="people-name">{{people.name}}</div>
</div>

<form id="form-edit-contact" class="form-horizontal">
        <div class="col-sm-6">

            <div class="form-group">
                <label for="name" class="col-md-2">Name:</label>

                <div class="col-md-6">
                    <p class="form-control-static"  edit-people="people.name">  </p>
                </div>
            </div>


            <div class="form-group">
                <label for="surname" class="col-md-2">Surname:</label>

                <div class="col-md-6">
                    <p class="form-control-static" edit-people="people.surname"></p>

                </div>
            </div>

            <div class="form-group">
                <label for="email" class="col-md-2">Email:</label>

                <div class="col-md-6">
                    <p class="form-control-static" edit-people="people.email"></p>
                </div>
            </div>



        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="telephone" class="col-md-2">Telephone:</label>

                <div class="col-md-6">
                    <p class="form-control-static" edit-people="people.telephone"></p>
                </div>
            </div>


            <div class="form-group">
                <label for="adres" class="col-md-2">Adres:</label>

                <div class="col-md-6">
                    <p class="form-control-static" edit-people="people.adres" field-type="textarea"></p>
                </div>
            </div>
        </div>
</form>