<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Telephone Book App</title>
    <link href="vendors/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="vendors/fullcalendar.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css"/>
    <script src="vendors/jquery.min.js"></script>
    <script src="vendors/bootstrap/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-sanitize.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-resource.js"></script>
    <script src="vendors/ui-bootstrap-tpls-2.4.0.min.js"></script>

    <script src="vendors/ng-file-upload.min.js"></script>
    <script src="vendors/moment.min.js"></script>
    <script src="vendors/calendar.js"></script>
    <script src="vendors/fullcalendar.min.js"></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbd1OGwfILtMJmBgkqc0T2n57FNx6faio&libraries=places">
    </script>
    <script src="vendors/angular-translate.js"></script>

    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controller.js"></script>

</head>

<body ng-app="telephoneBookApp" ng-Controller="bookController">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-main">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">{{ 'HEADTEXT' | translate }}</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-main">
            <div class="nav navbar-nav">
                <li ng-class="activePage('/')"><a href="#/">{{ 'CONTACT_LIST' | translate }}</a></li>
                <li ng-class="activePage('/newPeople')"><a href="#/newPeople">{{ 'ADD_CONTACT' | translate }}</a></li>
                <li ng-class="activePage('/calendar')"><a href="#/calendar">{{ 'BIRTHDAY_CALENDAR' | translate }}</a></li>
                <li ng-class="activePage('/map')"><a href="#/map">{{ 'CONTACT_MAP' | translate }}</a></li>
        </div>
            <div class="language-select">  <button ng-click="changeLanguage('en')" translate="BUTTON_LANG_EN"></button>
                <button ng-click="changeLanguage('pl')" translate="BUTTON_LANG_PL"></button></div>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-lg-2 contact-col">
            <table class="small-contact-table">
                <h3>{{ 'YOUR_CONTACTS' | translate }}</h3>
                <ul class="small-contacts list-unstyled">
                    <li ng-repeat="people in bookList">
                        <a href="#/peoples/{{$index + 1}}">
                            <img class="people-small" ng-src="../telephone-book/images/{{people.file_name}}"/>
                            {{(people.name)}} {{people.surname}}
                        </a>

                        <div class="contact-details">
                            <div class="first-cell">
                                <img class="people-detail-image"
                                     ng-src="../telephone-book/images/{{people.file_name}}"/>
                            </div>
                            <div class="second-cell">
                                <div class="name-desc"> {{(people.name)}} {{people.surname}}</div>
                                <div>{{people.telephone}}</div>
                                <a href="mailto:{{people.email}}">{{people.email}}</a>
                                <!--<div>{{people.email}}</div>-->
                                <div>{{people.adres}}</div>

                            </div>
                        </div>

                    </li>
                </ul>
            </table>

        </div>
        <div class="col-lg-10">
            <ng-view></ng-view>
        </div>
    </div>
</div>
</body>
</html>
